
.body{
    background-image: url ("assistcontrol/Assets/Img/fondo.png");
    
}
h1{
    font-family: OpenSans_regu ;
}

h1{
    font-size: xxx-large;
    color:black; 
}


#myh1{
    color: black;
    font-size: xx-large;
}
.myclass{
    color: black;
    font-size: xxx-large; 
}


menu a{
    color:black;
    text-decoration: none;
    border-right: 2px black;
    border-style: solid;
    border-color: black;
    background-color: rgb(100, 39, 100);
    padding: 10px;
    margin: 5px;
    

}


menu{
    
    text-align: right;
    
        
          }
a:hover{
    color: white;
    background-color: black;
}









